.noise {
    display: block;
}

.noise__word {
    white-space: nowrap;
}

.noise__char {
    font-family: Ubuntu,sans-serif;
    text-align: center;
    text-transform:uppercase;
    display: inline-block;
}

.noise__red {
    color: red;
    z-index: 3;
    position: relative;
}

.noise__green {
    color: #00FF00;
    z-index: 2;
    position: relative;
}

.noise__blue {
    color: #0000FF;
    z-index: 1;
    position: relative;
}

.noise__main {
    color: white;
    z-index: 4;
    position: relative;
}